# Supabase 配置
NEXT_PUBLIC_SUPABASE_URL=https://aawoajhmhvysedabncoz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_jpAnsNOd1-v5ftyOhjO09A_cnQBXjvh
SUPABASE_SERVICE_ROLE_KEY=你的service_role_key

# 如果需要国内加速，设置代理 URL
# NEXT_PUBLIC_SUPABASE_PROXY_URL=https://你的worker名字.workers.dev
